<h1>Cadastrar novo usuário</h1>

<div>
    <div class="form-group">
        <label>Nome:</label>
        <input class="form-control" type="text" id="input-nome">
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input class="form-control" type="text" id="input-email">
    </div>
    <div class="form-group">
        <label>Senha:</label>
        <input class="form-control" type="password" id="input-senha">
    </div>
    <div class="form-group">
        <label>Perfil:</label>
        <select class="form-control" id="select-perfil">
            <option value="0">-- Selecione --</option>
            <% for(let i=0; i<listaP.length; i++) { %>
                <option value="<%=listaP[i].id%>"><%=listaP[i].descricao%></option>
            <% } %>    
        </select>
    </div>
    <div class="form-group">
        <label><input type="checkbox" id="cb-ativo">Usuário ativo</label>
    </div>
    <div style="margin-top: 30px;">
        <button class=" btn btn-primary" id="btn-cadastrar">Cadastrar</button>
        <a href="/usuario" class="btn btn-default">Voltar</a>
    </div>
</div>